h1. Usage

p. Declare this project as a parent inside your projects POM:

bc. <parent>
  <groupId>com.github.sebhoss</groupId>
  <artifactId>superpom</artifactId>
  <version>${project.version}</version>
</parent>
